<footer class="border-top footer text-muted">
    <div class="container-fluid text-center">
        &copy; 2021 - Seascape - <a asp-area="" asp-controller="About" asp-action="Index">About</a>
    </div>
</footer>